
<launch>
  <node name="dist_ctrl" pkg="pid" type="controller" ns="robot_dist">
    <param name="Kp" value="0.5" />
    <param name="Ki" value="0.05" />
    <param name="Kd" value="0.0" />
    <param name="upper_limit" value="0.2" />
    <param name="lower_limit" value="-0.1" />
    <param name="windup_limit" value="1" />
    <param name="cutoff_frequency" value="0.5" />
    <param name="max_loop_frequency" value="100.0" />
    <param name="min_loop_frequency" value="10.0" />
  </node>

</launch>