<launch>
  <include file="$(find sound_play)/soundplay_node.launch" />

  <node name="lin_control" pkg="pid" type="controller" ns="lin_control">
    <param name="Kp" value="-1.2" />
    <param name="Ki" value="-0.12" />
    <param name="Kd" value="-0.01" />
    <param name="windup_limit" value="0.15"/>
  </node>

  <node name="ang_control" pkg="pid" type="controller" ns="ang_control">
    <param name="Kp" value="-0.9" />
    <param name="Ki" value="-0.01" />
    <param name="Kd" value="-0.01" />
    <param name="windup_limit" value="0.1"/>
  </node>

  <node pkg = "g4p" type = "obstacle.py" name = "obstacle" output="screen">
  </node>

  <node pkg = "g4p" type = "turtlebot_audio.py" name = "sound_node" output="screen">
  </node>

  <node pkg = "g4p" type = "map_node.py" name = "map" output="screen">
  </node>

  <node pkg = "g4p" type = "states.py" name = "states" output="screen">
  </node>

  <node pkg = "g4p" type = "control.py" name = "control" output="screen">
  </node>


  <node pkg = "g4p" type = "path_maker.py" name="path_maker" output = "screen">
  </node>


</launch>
