<launch>

  <node name="lin_control" pkg="pid" type="controller" ns="lin_control">
    <param name="Kp" value="-0.8" />
    <param name="Ki" value="-0.12" />
    <param name="Kd" value="0.0" />
    <param name="windup_limit" value="0.15"/>
  </node>

  <node name="ang_control" pkg="pid" type="controller" ns="ang_control">
    <param name="Kp" value="-1.5" />
    <param name="Ki" value="-0.1" />
    <param name="Kd" value="0.0" />
    <param name="windup_limit" value="0.1"/>
  </node>

  <node pkg = "grupo4" type = "states.py" name = "states" output="screen">
  </node>

  <node pkg = "grupo4" type = "control.py" name = "control" output="screen">
  </node>


  <node pkg = "grupo4" type = "obstaculos.py" name ="obstacles" output="screen">
  </node>

  <node pkg = "grupo4" type = "sensor_model.py" name = "sensormodel" output="screen">
  </node> 

  <node pkg="grupo4" type="static_transform_publisher" name="base_link_to_kinect_frame_nav" args="-0.1 0.0 0.30 -1.570796327 0.0 1.570796327 /base_link /kinect_frame 100" />  
   <include file="$(find openni_launch)/launch/openni.launch" />

</launch>
