<launch>
  <node name="lin_control" pkg="pid" type="controller" ns="lin_control">
    <param name="Kp" value="-0.5" />
    <param name="Ki" value="-0.12" />
    <param name="Kd" value="-0.01" />
    <param name="windup_limit" value="0.1"/>
  </node>

  <node name="ang_control" pkg="pid" type="controller" ns="ang_control">
    <param name="Kp" value="-1.3" />
    <param name="Ki" value="-0.1" />
    <param name="Kd" value="0.01" />
    <param name="windup_limit" value="0.1"/>
  </node>

  <node pkg = "g43" type = "states.py" name = "states" output="screen">
  </node>

  <node pkg = "g43" type = "control.py" name = "control" output="screen">
  </node>




</launch>
